{% extends 'landing/base.html' %}

{% block title %}Create Job Posting - Jumaiya ATS{% endblock %}

{% block content %}
<div class="relative bg-gray-900">
  <div class="lg:absolute lg:inset-0 lg:left-1/2">
    <img src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-x=.4&w=2560&h=3413&&q=80" alt="" class="h-64 w-full bg-gray-800 object-cover sm:h-80 lg:absolute lg:h-full" />
  </div>
  <div class="pt-16 pb-24 sm:pt-24 sm:pb-32 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:pt-32">
    <div class="px-6 lg:px-8">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
        <h2 class="text-4xl font-semibold tracking-tight text-pretty text-white sm:text-5xl">Create a New Job Posting</h2>
        <p class="mt-2 text-lg/8 text-gray-400">This information will be displayed publicly so be careful what you share.</p>
        <form method="post" class="mt-16">
          {% csrf_token %}
          <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
            <div class="sm:col-span-2">
              <label for="{{ form.title.id_for_label }}" class="block text-sm/6 font-semibold text-white">Job Title</label>
              <div class="mt-2.5">
                {{ form.title }}
              </div>
            </div>

            <div class="sm:col-span-2">
                <label for="{{ form.company.id_for_label }}" class="block text-sm/6 font-semibold text-white">Company</label>
                <div class="mt-2.5">
                  {{ form.company }}
                </div>
            </div>

            <div>
                <label for="{{ form.country.id_for_label }}" class="block text-sm/6 font-semibold text-white">Country</label>
                <div class="mt-2.5">
                  {{ form.country }}
                </div>
            </div>

            <div>
                <label for="{{ form.province.id_for_label }}" class="block text-sm/6 font-semibold text-white">Province</label>
                <div class="mt-2.5">
                  {{ form.province }}
                </div>
            </div>
            
            <div>
                <label for="{{ form.city.id_for_label }}" class="block text-sm/6 font-semibold text-white">City</label>
                <div class="mt-2.5">
                  {{ form.city }}
                </div>
            </div>

            <div>
                <label for="{{ form.job_type.id_for_label }}" class="block text-sm/6 font-semibold text-white">Job Type</label>
                <div class="mt-2.5">
                  {{ form.job_type }}
                </div>
            </div>

            <div>
                <label for="{{ form.min_salary.id_for_label }}" class="block text-sm/6 font-semibold text-white">Minimum Salary</label>
                <div class="mt-2.5">
                  {{ form.min_salary }}
                </div>
            </div>

            <div>
                <label for="{{ form.max_salary.id_for_label }}" class="block text-sm/6 font-semibold text-white">Maximum Salary</label>
                <div class="mt-2.5">
                  {{ form.max_salary }}
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="{{ form.closing_date.id_for_label }}" class="block text-sm/6 font-semibold text-white">Closing Date</label>
                <div class="mt-2.5">
                  {{ form.closing_date }}
                </div>
            </div>

            <div class="sm:col-span-2">
              <label for="{{ form.description.id_for_label }}" class="block text-sm/6 font-semibold text-white">Description</label>
              <div class="mt-2.5">
                {{ form.description }}
              </div>
            </div>
          </div>
          <div class="mt-10 flex justify-end border-t border-white/10 pt-8">
            <a href="{% url 'parser_home' %}" class="text-sm/6 font-semibold text-white">Cancel</a>
            <button type="submit" class="ml-4 rounded-md bg-indigo-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}